<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="content-type" content="text/html" charset="UTF-8">
<link type="text/css" rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" /> 
<title>Flower Shop Inventory</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $("#language").change(function () {
                var selectedOption = $('#language').val();
                if (selectedOption !== ''){
                    window.location.replace('inventory?lang=' + selectedOption);
                }
            });
        });
    </script>
</head>
<body>
	<div class="row justify-content-center">
		<div class="col-auto">
		<div style="clear: both; display: block; height: 50px;"></div>
			<div class="col text-center">
 				<span th:text="#{lang.change}"></span>:
				<select id="language">
					<option value=""></option>
				    <option value="en" th:text="#{lang.en}"></option>
				    <option value="fi" th:text="#{lang.fi}"></option>
				</select>
			<div style="clear: both; display: block; height: 20px;"></div>
			<div sec:authorize="hasAuthority('ADMIN')" class="col-md-12 text-right">
				<form th:action="@{/logout}" method="post">
					<input type="submit" value="Log Out" class="btn btn-warning" />
				</form>
			</div>
			<div style="clear: both; display: block; height: 10px;"></div>
			<span>For demonstration purposes: </span>	
			<a href="/allrest" class="btn btn-sm btn-outline-success">REST: Show all items (admin only) </a>
			<a href="/locations" class="btn btn-sm btn-outline-success">REST: Show all locations (admin only) </a>
			<a href="/delete/5" class="btn btn-sm btn-outline-success">Delete by id (admin only)</a>
			<a href="login" class="btn btn-sm btn-outline-success">Back to login</a>
			<div style="clear: both; display: block; height: 30px;"></div>		
			<h2><span th:text="#{inventory.title}"></span></h2>
			<div style="clear: both; display: block; height: 20px;"></div>		
			<table class="table table-sm table-bordered table-striped table-hover">
				<thead>
					<tr>
						<th><span th:text="#{th.name}"></span></th>
						<th><span th:text="#{th.latin}"></span></th>
						<th><span th:text="#{th.price}"></span></th>
 						<th><span th:text="#{th.usage}"></span></th> 
						<th><span th:text="#{th.location}"></span></th>
						<th sec:authorize="hasAuthority('ADMIN')"><span th:text="#{th.functions}"></span></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="plant:${plants}">
						<td th:text="${plant.name}"></td>
						<td th:text="${plant.latin}"></td>
						<td th:text="${plant.price}"></td>
  						<td th:text="${plant.usage.use}"></td> 
						<td th:text="${plant.location.locName}"></td>
						<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{plantId}(plantId=${plant.plantId})}" class="btn btn-sm btn-danger">Delete</a>
						<a th:href="@{/edit/{plantId}(plantId=${plant.plantId})}" class="btn btn-sm btn-info">Edit</a></td>
					</tr>
				</tbody>
			</table>
		<div style="clear: both; display: block; height: 20px;"></div>		
		<div sec:authorize="hasAuthority('ADMIN')" class="col text-center"><a href="/add" class="btn btn-success">Add item</a></div>
		<div style="clear: both; display: block; height: 20px;"></div>
		<div sec:authorize="hasAuthority('ADMIN')" class="col text-center"><a href="/addloc" class="btn btn-secondary">Add location</a></div>
		</div>
	</div>
	</div>
</body>
</html>
